<div class="container">
  <div class="row">
      <a routerLink="/reactive">Reactive Form</a>
      <a routerLink="/template">Template Form</a>
      <div>
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
