<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              [formControlName]="'username'"
              class="form-control">
            <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
                  class="help-block">
                <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']"
                   class="help-block">Username is invalid</span>
                <span *ngIf="signupForm.get('userData.username').errors['required']"
                     class="help-block">Username is required</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              [formControlName]="'email'"
              class="form-control">
            <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
                  class="help-block">
                              <!-- '?' is safe navigation operator, required to stop null error -->
              <span *ngIf="signupForm.get('userData.email').errors?.emailIsForbidden"
                    class="help-block"> Email is forbidden </span>
                            <!-- alternative approach to deal with null error -->
              <span *ngIf="signupForm.hasError('email','userData.email')"
                    class="help-block"> Email is invalid </span>
            </span>
          </div>
        </div>
        <div class= "radio" *ngFor="let gender of genders"> <!-- for each element in array -->
          <label>
            <input type="radio"
                   [formControlName]="'gender'"
                   [value]="gender">
            {{gender}} <!-- text of the label -->
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group"
          *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index">
          <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <span *ngIf="!signupForm.valid && signupForm.touched"
              class="help-block">Please enter valid data</span>

          <button
            class="btn btn-primary" type="submit">Submit</button>

      </form>
    </div>
    <hr>
  </div>
</div>
